<body id="landing-page">

    <div id="container">
        <div class="logo-container">
            <img src="./img/logo.svg" alt="Proffy" />
            <h2>Sua plataforma de estudos online</h2>
        </div>
        <img class="hero-image" src="./img/landing.svg" alt="Plataforma de estudos" />

        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="./img/icons/study.svg" alt="Estudar" />
                Estudar
            </a>

            <a class="teach" href="/teach">
                <img src="./img/icons/teach.svg" alt="Dar aulas" />
                Dar aulas
            </a>
        </div>

        <div class="total-connections">
            Total de 200 conexões já realizadas
            <img src="./img/icons/purple-heart.svg" alt="Coração roxo">
        </div>
    </div>

</body>